nav{
    display: flex;
    list-style-type:none;
    justify-content: space-evenly;
    padding: 10px;
}
header{
    background-color: chocolate;
}
.link{
    color: white;
    text-decoration: none;
    padding: 3px;
}
link:hover{
    color: chocolate;
    background-color:white;
}
.sub-link{
    background-color: white;
}
