body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    color: black;
    font-size: xx-large;
    padding: 5px;
}
nav li{
    padding: 5px;
    list-style: none;
}
nav li:hover{
    background-color: chartreuse;
    border-radius: 20px;
}
.drag{
    position: relative;
    cursor: pointer;
    display: none;
}
.drop:hover .drag{
    display: block;
}
nav a{
    text-decoration: none;
}