
nav{
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    color: black;
    font-size: xx-large;
    padding: 5px;
}
nav li{
    padding: 5px;
    list-style: none;
}
nav li:hover{
    background-color: chartreuse;
    border-radius: 20px;
}
.drag{
    position: absolute;
    background-color: rgb(240, 243, 242);
    margin-top: 5px;
    z-index: 1;
    

}
.drop:hover .drag{
    display: block;
}
nav a{
    text-decoration: none;
}
