.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: blanchedalmond;
    padding: 30px;
}
.grid{
    background-color: aqua;
    text-align: center;
    margin: 10px;
    width: 300px;
    height: 200px;

}