.para {
    font-size: 2rem; 
    line-height: 1.5;
}
.Pos-Fix {
    position: fixed;
    right: 10px;
    background: lightgray;
    padding: 10px;
    border-radius: 5px;
}
.Pos-Stick {
    position: sticky;
    top: 0;
    background: white; 
}
